{{- $root := . -}}
{{- $svcPort := .Values.nginx.http_listen_port -}}
{{- if and .Values.ingress.enabled .Values.nginx.enabled .Values.ingress.distributor.enabled -}}
{{- range .Values.ingress.distributor.scopeIDs }}
{{- $rootScope := . -}}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "cortex.fullname" $root }}-{{ .scopeName }}
  labels:
    app: {{ template "cortex.name" $root }}
    chart: {{ template "cortex.chart" $root }}
    release: {{ $root.Release.Name }}
    heritage: {{ $root.Release.Service }}
  {{- with .annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Scope-OrgID {{ $rootScope.scopeID }};
  {{- end }}
spec:
  ingressClassName: {{ $root.Values.ingress.ingressClassName }}
{{- if .tls }}
  tls:
    - hosts:
        - {{ .tls.host | quote }}
      secretName: {{ .tls.secretName }}
{{- end }}
  rules:
    - host: {{ .host | quote }}
      http:
        paths:
          - path: /api/prom/push
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ template "cortex.fullname" $root }}
                port:
                  number: {{ $svcPort }}
{{- end }}
{{- end }}
